
<h1>Eat Da Burgers</h1>

<div class="flex-container">
    <div id="add">
        <h2>Add a burger!</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="burg">Burger Name:</label>
                <input type="text" id="bur" name="name">
                <button type="submit" id="create-burger" class="btn-lg"> Add <span>
                    <i class="fas fa-hamburger"></i></span></button><br>
                <input type="radio" name="devoured" value="0" checked> Eat later 
                <input type="radio" name="devoured" value="1"> Devoured!

            </div>
        </form>
    </div>

    <div>
      <h2>Waiting to be Devoured:</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div>
      <h2>Devoured Burgers:</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>



    </div>

<a href="https://www.freepik.com/photos/background">photo created by freepik - www.freepik.com</a>
</div>