 <div class="row">
    <div class="col-12 col-md-7 left-container">
    <img class="burger-img" src="https://github.com/mdgragg/burger/blob/master/public/assets/img/burger-photo.png?raw=true" alt="Burger-photo">
    <h1>Eat Da Burger!</h1>
</div>

<div class="col-12 col-md-5 right-container">
    <div id="add">
        <form class="create-form">
            <label class="burger-title" for="burg">Burger Name:</label>
            <input class="input-box col-8" type="text" id="bur" name="name">
            <button class="col-3" type="submit" id="create-burger" class="btn-lg"> Add <span>
                <i class="fas fa-hamburger"></i></span></button><br>
            
            <sapn class="radio">
                <input type="radio" name="devoured" value="0" checked> Eat later 
                <input type="radio" name="devoured" value="1"> Devoured!
            </sapn>
        </form>
    </div>

    <div>
      <h2 class="form-title mt-4">Waiting to be Devoured:</h2>
        <ul class="burger-box">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div>
      <h2 class="form-title">Devoured Burgers:</h2>
        <ul class="burger-box">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

<a href="https://www.freepik.com/photos/background">photo created by freepik - www.freepik.com</a>
</div>